@model AspNetCoreIdentity.Models.ForgetPasswordModel




<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h5 class="text-center mt-3">ForgetPasswordModel</h5>
        <hr />
        <div class="alert alert-info">
            Girmiş Olduğunuz E-Posta Adresinize Şifre Sıfırlama Mesajı Gönderilecek.
        </div>
        <form asp-action="ForgetPassword" class="mt-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Gönder" class="btn btn-outline-primary"/>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>



