@model ChangePasswordModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Member/_MemberLayout.cshtml";
}



<h5 class="text-center mt-3">Şifre Değiştir</h5>
<hr />

    
        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="OldPassword" class="control-label"></label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirm" class="control-label"></label>
                <input asp-for="PasswordConfirm" class="form-control" />
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Değiştir" class="btn btn-outline-primary" />
            </div>
        </form>
  


